.chatlist-ul{
  width: 30%;
  background-color: #dddfff;
  float: left;
}
.chatList-item:hover{
  background-color: #dddff0;
  color: #ffffff;
}
@media screen and (max-width: 650px){
  .chatlist-ul{
    display: none;
  }
}
