.message-author-span{
  color: #0f9f9f;
  font-size: 15px;
  padding: 2px;
  margin: 0px;
}
.message-div{
  background-color: #c0c0cc;
  border-radius: 5px;
  width: 400px;
  font-size: 18px;
  text-align: left;
  padding: 2px;
  margin: 2px;
}
.message-p{
  color: black;
  padding: 2px;
  margin: 0px;
}
