.mess-div{
  height: 55px;
}
.message-div{
  background-color: #c0c0cc;
  border-radius: 5px;
  font-size: 18px;
  padding: 2px;
  text-align: right;
  float: right;
}
.message-div2{
  background-color: #ececec;
  border-radius: 5px;
  font-size: 18px;
  padding: 2px;
  text-align: left;
  float: left;
}

.message-p{
  color: black;
  padding: 2px;
  margin: 0px;
}
.message-author-span{
  color: #0f9f9f;
  font-size: 15px;
  padding: 2px;
  margin: 0px;
}
